<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>human</name>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Piotr Walas</name>
    <email>within12@gmail.com</email>
  </author>

  <description>
    A model of the human character, created using Make Human creator
  </description>
</model>
